<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#if user}}
    <script>
        var username = "{{user.name}}"
     </script>
      {{/if}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
