<h1>post your article here</h1>
<form     class="form" action="/postanarticle/{{user.id}}" method="post">
  <input  name="title" placeholder="Title">
  <input  name="article" placeholder="Write your post here">
  <input  type="submit" value="Post">
</form>
<h1>update your article here</h1>
<form     class="form" action="/postanarticle/{{user.id}}" method="post">
  <input  name="title" placeholder="Title">
  <input  name="article" placeholder="Write your post here">
  <input  type="submit" value="Post">
</form>
