<a  class="home" href="/">HOME</a>

<h1>post your article here</h1>
<form     class="form" action="/postanarticle/{{user.id}}" method="post">
  <input  name="title" placeholder="Title" minlength=3>
  <textarea  name="article"rows="9" cols="60" minlength=3 placeholder="Write your post here"></textarea>
  <input  type="submit" value="Post">
</form>
