body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
.log {
    opacity: 0.85;
    padding: 1%;
    background-color: lightgray;
    position: fixed;
    margin-left: 82%;
    z-index: 99;
    border-radius: 5px;
}
.title{
  text-align: center;
}
.post-box{
  padding: 2%;
  margin: 2%;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.home{
  padding: 2%;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
input{
  line-height:150%;
  font-size: 2rem;

}
textarea{
  font-size: 1rem;

}
.modify{
  margin-left: 75%;
  background-color:lihghtgray;
  opacity: 0.85;
  padding: 1%;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.comment{
  padding: 2%;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.del{
  margin-left: 50%;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  padding: 1%;

}
